#sudoku {
	background: #aaa;
	border: 7px solid;
	position: absolute;
	width: 450px;
	height: 450px;
}
.cel {
	display: inline-block;
	width: 48px;
	height: 40px;
	border: 1px solid;
	text-align: center;
	padding-top: 8px;
}
.filled {
	font-weight: bold;
}
.unwriten {
	color: rgba(0,0,0,0);
	border-color: black;
}
.barv1 {
	margin-left: 148px;
	position: absolute;
	width: 3px;
	height: 450px;
	background: black;
}
.barv2 {
	margin-left: 298px;
	position: absolute;
	width: 3px;
	height: 450px;
	background: black;
}
.barh1 {
	margin-top: 148px;
	position: absolute;
	height: 3px;
	width: 450px;
	background: black;
}
.barh2 {
	margin-top: 298px;
	position: absolute;
	height: 3px;
	width: 450px;
	background: black;
}